/* Colour Themes
Deep:
  #321473
  #224459
  #D0E9F2
  #224024
  #278C0B

Dark-1:
  #130C40
  #224A59
  #848C89
  #142615
  #224024

Dark-2:
  #260108
  #2C4859
  #1D261E
  #8C8954
  #736E6C

Deep-Hammond:
  #8B818C
  #07260F
  #0F401B
  #010D00
  #0D0D0D
*/

body {
  font-family: sans-serif;
  margin: auto;
  max-width: 100%;
  background: radial-gradient(#010D00, black);
  background-repeat: no-repeat;
  background-size: cover;
  /* background-color: #010D00; */
  color: #9B919C;
}

.navbar {
  background-color: #313236;
  border-radius: 2px;
  max-width: 100%;
}

.navbar a {
  color: #D0E9F2;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
  opacity: 1;
}

.profile-pic {
  width: 10vw;
  max-width: 100%;
}

.navbar-diamond{
  top: 50%;
  left: 50%;
  position: absolute;
  display: inline-block;
  justify-content: center;
  display:flex;
  flex-wrap:nowrap;
  align-content:space-between;
  width: 1000px;
}

.navbar-diamond ul {
  position: absolute;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  width: 100%;
  height: 150px;
  background-color: white;
}

.navbar-diamond ul li {
  list-style: none;
  position: absolute;

  width: 200px;
  height: 200px;
  /* max-width: 300px;
  max-height: 300px; */
  background: #000;
  /* margin: -100px; */
  /* margin: 20px; */
  transform: rotate(45deg);
  transition: .5s;
  overflow: hidden;
}

.navbar-diamond ul li:nth-child(1){
  top: 0;
  left: 0;
}

.navbar-diamond ul li:nth-child(2){
  bottom: 0;
  left: 25%;
}

.navbar-diamond ul li:nth-child(3) {
  top: 0;
  left: 50%;
}

.navbar-diamond ul li:nth-child(4) {
  bottom: 0;
  left: 75%;
}

.navbar-diamond ul li:nth-child(5) {
  top: 0;
  left: 100%;
}

.navbar-diamond img{
  transform:rotate(-45deg);
  /* display: block; */
  margin-left: auto;
  margin-right: auto;
  margin-top:auto;
  margin-bottom:auto;
  width: 150%;
  height:auto;
  opacity: .5;
  max-width: 150%; /* Don't stretch the images too far so that they look ugly */
}

.navbar-diamond img:hover{
  opacity: 1;
}
