/* Colour Themes
Deep:
  #321473
  #224459
  #D0E9F2
  #224024
  #278C0B

Dark-1:
  #130C40
  #224A59
  #848C89
  #142615
  #224024

Dark-2:
  #260108
  #2C4859
  #1D261E
  #8C8954
  #736E6C

Deep-Hammond:
  #8B818C
  #07260F
  #0F401B
  #010D00
  #0D0D0D
*/

body {
  font-family: sans-serif;
  /* background-color: #D0E9F2; */
  color: #9B919C;
  font-size: 5vh;
  margin:0;
}

h1 {
  margin:0;
}

.section {
  width: 100vw;
  height: 500px; /* fallback in case vh breaks */
  height: 100vh;
  margin: 0;
}

/* Parallax Classes */
.parallax {
  perspective: 300px;
  height: 500px; /* fallback in case vh breaks */
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective-origin-x: 100%;
}

.parallax .section{
  /* parallax layers position relative to the section */
  position: relative;

  /* Don't flatten parallax */
  transform-style: preserve-3d;

  /* override height setting from section class */
  /* height:80vh; */

  /* DEBUG Rotate view to visualize the parallax layers */
  /* transform: translate3d(700px, 0, -800px) rotateY(30deg); */

  /* !!! important !!!: overflow: hidden breaks the parallax effect */
}

.parallax-layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height:100vh;
  /* transform-origin-x: 100%; */
}

.foreground {
  transform: translateZ(0);
  background: #142615FF; /* Alpha set to transparent */
}

.middleground {
  /* Scale factor to correct depth: [1 + (translateZ * -1) / perspective] */
  /* Larger -z values slow down the scrolling speed */
  transform: translateZ(-300px) scale(2);
  background: #142615FF;
}

.background {
  /* Scale factor to correct depth: [1 + (translateZ * -1) / perspective] */
  /* Larger -z values slow down the scrolling speed */
  transform: translateZ(-600px) scale(3);
  background: #142615FF;
}

.bio-list {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}

.bios .parallax {
}

.bio-list img {
  margin:0;
  padding:0;
  opacity: 0.8;
}

.bio-list img:hover {
  opacity: 1;
}
